# Node.js
node_modules/
dist/
dist-ssr/
.env
.env.*
.env.local

# Vercel
.vercel/

# Virtual environments
venv/
env/
.venv/

# Python caches and bytecode
__pycache__/
*.py[cod]
*$py.class

# Data and Notebooks
notebooks_data/
dataset/

# IDEs
.vscode/
.idea/

# Documents
*.docx
*.pptx
*.pdf

# Images / Diagrams
*.png
*.jpg
*.jpeg
